{% extends 'header_narrow.html' %}
{% load static %}
{% block title %}
Finta championship
{% endblock %}

{% block links %}
    <script src="{% static "js/forChamps.js" %}"></script>
    <link rel="stylesheet" href="{% static 'css/shopcss.css' %}">
    <link rel="stylesheet" href="{% static 'css/finta_champs.css' %}">
{% endblock %}

{% block content %}

<div class="container playertable">
     <script type="text/javascript">
        startTimer({{ diff }});
    </script>
    <div class="row">
        <div class="col-sm-12">

        <form method="post">
        {% csrf_token %}
            <span style="font-size: larger">Register for next event:</span> &ensp;
            {% if canPlay == 1  %}
                {% if registered == True %}
                    <button disabled class="btn btn-success">ALREADY REGISTERED</button>
                {% else %}
                    {% if number == 8 %}
                        <button disabled class="btn btn-success">NO SPACE</button>
                    {% else %}
                        <button class="btn btn-success">REGISTER</button>
                    {% endif %}

                {% endif %}

            {% else %}
                <button disabled class="btn btn-success">REGISTER</button>
            {% endif %}
        </form>


        </div>
    </div>
  <br>

<div class="row justify-content-center">

    <div class="col-sm-4">
        Click <a style="color: darkgreen" href="{% url 'ranklist' %}">HERE</a> for a ranklist.
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <span style="font-size: larger">
            Time left: <span id="time" style="font-size: larger">00:00:00</span></span>


    </div>
</div>
  <br>
<div class="row">
    <div class="col-sm-12">
        <div style="font-size: larger"> Filled places : {{ number }} / 8</div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-12" style="font-size: large">
        LAST CHAMPIONSHIPS
    </div>
</div>

<div class="row">
    <div class="col-sm-12" style="font-size: large">
        <ul style="list-style: none">
            {% for ch in previous %}
                <a style="color: dimgray" href="{% url 'champs_view' ch.idchampionship %}"> <li> {{ ch.name }} </li> </a>
            {% endfor %}
        </ul>
    </div>
</div>

</div>


{% endblock %}