{% extends 'header.html' %}
{% load static %}

{% block title %}
    Manager - finta.com
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/manager_football_pitch.css' %}">
    <link rel="stylesheet" href="{% static 'css/manager.css' %}">
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/manager_football_pitch.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="offset-sm-2 col-sm-8 text-center">
                <div class="wrapper">
                    <div class="campo">
                        <div class="semi1"></div>
                        <div class="semi2"></div>
                        <div class="divisoria"></div>
                        <div class="interior"></div>
                        <div class="penalty"></div>

                        <div class="gk position primary" id="gk">GK</div>

                        <div class="sw position" id="sw">SW</div>

                        <div class="lb position" id="lb">LB</div>
                        <div class="lcb position primary" id="lcb">LCB</div>
                        <div class="cb position" id="cb">CB</div>
                        <div class="rcb position primary" id="rcb">RCB</div>
                        <div class="rb position" id="rb">RB</div>

                        <div class="lwb position primary" id="lwb">LWB</div>
                        <div class="ldm position" id="ldm">LDM</div>
                        <div class="cdm position" id="cdm">CDM</div>
                        <div class="rdm position" id="rdm">RDM</div>
                        <div class="rwb position primary" id="rwb">RWB</div>

                        <div class="lm position primary" id="lm">LM</div>
                        <div class="lcm position" id="lcm">LCM</div>
                        <div class="cm position primary" id="cm">CM</div>
                        <div class="rcm position" id="rcm">RCM</div>
                        <div class="rm position primary" id="rm">RM</div>

                        <div class="lam position primary" id="lam">LAM</div>
                        <div class="cam position" id="cam">CAM</div>
                        <div class="ram position primary" id="ram">RAM</div>

                        <div class="lw position" id="lw">LW</div>
                        <div class="ss position primary" id="ss">SS</div>
                        <div class="rw position" id="rw">RW</div>

                        <div class="ls position" id="ls">LS</div>
                        <div class="cf position" id="cf">CF</div>
                        <div class="rs position" id="rs">RS</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-sm-2 col-sm-8 text-center">
                <hr/>
                <h1>MY TEAM</h1>
                <hr/>
                <br/>
                <table class="text-center" style="margin-left: 100px;">
                    <tr>
                        <th>POS</th>
                        <th></th>
                        <th>NAME</th>
                        <th>AGE</th>
                        <th>TEAM</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for player in players %}
                        <tr>
                            <td>{{ player.pos }}</td>
                            {% if player.name == "" %}
                                <td></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td></td>
                                <td>
                                    <a href="{% url "manager_players" player.pos %}">
                                        <input type="button" value="Dodaj">
                                    </a>
                                </td>
                            {% else %}
                                <td>
                                    <img src="{{ player.photo }}" style="width: 50px;
                                         height: 50px;" alt="Image" class="rounded-circle">
                                </td>
                                <td>
                                    <a href="{% url "manager_player_display" player.realplayer %}">
                                        {{ player.name }}
                                    </a>
                                </td>
                                <td>{{ player.age }}</td>
                                <td>
                                    <a href="{% url "manager_team_display" player.realteam %}">
                                        {{ player.team }}
                                    </a>
                                </td>
                                <td>
                                    <img src="{{ player.teamlogo }}" style="width: 50px;
                                         height: 50px;" alt="Image" class="rounded-circle">
                                </td>
                                <td>
                                    <a href="{% url "manager_player_remove" player.id %}">
                                        <input type="button" value="Ukloni">
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="offset-sm-2 col-sm-8 text-center">
                Offence:&nbsp;&nbsp;<button type="button" class="btn btn-primary" disabled>{{ manager_team.offence }}</button>
                Defence:&nbsp;&nbsp;<button type="button" class="btn btn-primary" disabled>{{ manager_team.defence }}</button>
                Overall:&nbsp;&nbsp;<button type="button" class="btn btn-primary" disabled>{{ manager_team.overall }}</button>
                Value:&nbsp;&nbsp;<button type="button" class="btn btn-primary" disabled>{{ manager_team.value }}</button>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="offset-sm-2 col-sm-8 text-center">
                <a class="btn btn-primary" href="{% url "manager_players" 2 %}">Registruj</a>
                <a class="btn btn-primary" href="{% url "manager_players" 2 %}">Registruj</a>
                <a class="btn btn-primary" href="{% url "manager_players" 2 %}">Registruj</a>
            </div>
        </div>
    </div>


{% endblock %}