{% extends 'header.html' %}
{% load static %}

{% block title %}
    Manager - finta.com
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/manager_football_pitch.css' %}">
    <link rel="stylesheet" href="{% static 'css/manager.css' %}">
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/manager_football_pitch.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="wrapper">
                    <div class="campo">
                        <div class="semi1"></div>
                        <div class="semi2"></div>
                        <div class="divisoria"></div>
                        <div class="interior"></div>
                        <div class="penalty"></div>

                        <div class="gk position primary" id="gk"></div>

                        <div class="sw position" id="sw"></div>

                        <div class="lb position" id="lb"></div>
                        <div class="lcb position primary" id="lcb"></div>
                        <div class="cb position" id="cb"></div>
                        <div class="rcb position primary" id="rcb"></div>
                        <div class="rb position" id="rb"></div>

                        <div class="lwb position primary" id="lwb"></div>
                        <div class="ldm position" id="ldm"></div>
                        <div class="cdm position" id="cdm"></div>
                        <div class="rdm position" id="rdm"></div>
                        <div class="rwb position primary" id="rwb"></div>

                        <div class="lm position primary" id="lm"></div>
                        <div class="lcm position" id="lcm"></div>
                        <div class="cm position primary" id="cm"></div>
                        <div class="rcm position" id="rcm"></div>
                        <div class="rm position primary" id="rm"></div>

                        <div class="lam position primary" id="lam"></div>
                        <div class="cam position" id="cam"></div>
                        <div class="ram position primary" id="ram"></div>

                        <div class="lw position" id="lw"></div>
                        <div class="ss position primary" id="ss"></div>
                        <div class="rw position" id="rw"></div>

                        <div class="ls position" id="ls"></div>
                        <div class="cf position" id="cf"></div>
                        <div class="rs position" id="rs"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div id="position_name">
                </div>
                <form id="player_form" method="post">
                    {% csrf_token %}
                    <input type="text" placeholder="Team" id="player_team" name="player_team"><br/>
                    <input type="text" placeholder="Player" id="player" name="player"><br/>
                    <input type="submit" value="Search" id="player_search"><br/>
                </form>
                <br/>
                <div style="float: left; clear:left">
                    <table style="text-align: center;">
                        {% if players != None %}
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Team</th>
                                <th></th>
                                <th></th>
                            </tr>
                        {% endif %}
                        {% for player in players %}
                            <tr>
                                <td>
                                    <img src="{{ player.player.photo }}" style="width: 50px;
                                         height: 50px;" alt="Image" class="rounded-circle">
                                </td>
                                <td>
                                    <a href="{% url "manager_player_display" player.player.id %}">
                                        {{ player.player.name }}
                                    </a>
                                </td>
                                <td>{{ player.player.age }}</td>
                                <td>
                                    <a href="{% url "manager_team_display" player.statistics.0.team.id %}">
                                        {{ player.statistics.0.team.name }}
                                    </a>
                                </td>
                                <td>
                                    <img src="{{ player.statistics.0.team.logo }}" style="width: 50px;
                                         height: 50px;" alt="Image" class="rounded-circle">
                                </td>
                                <td>
                                    <input type="button" value="Add">
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}