{% extends 'header_narrow.html' %}
{% load static %}
{% block title %}
{{ user.first_name }}'s profile
{% endblock %}

{% block links %}
 <link rel="stylesheet" href="{% static 'css/myprofilecss.css' %}">
{% endblock %}

{% block content %}


<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <button class="btn" id="buttonBack" >
               {% if user.profile_picture %}
                    <img id="profile" class="rounded-circle" src="{{ user.profile_picture.url }}" height="100" width="100" />
               {% else %}
                   <img id="profile" class="rounded-circle" src="{% static 'images/basic_profile_pic.jpg' %}" height="100" width="100" />
               {% endif %}

            </button>
            <span class="name mt-3">{{ user.first_name}} {{user.last_name}}</span>
            <span class="idd">@{{ user.username }}</span>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2">
{#                <span class="idd1">Oxc4c16a645_b21a</span>#}
                <span><i class="fa fa-copy"></i></span>
            </div> <div class="d-flex flex-row justify-content-center align-items-center mt-3">
            <span class="number">{{ user.tokens }}
{#                <span class="follow">Tokens</span>#}
                <img src="{% static 'images/coins.png' %}" height="25px" width="25px">
            </span>
        </div>
        <br>
         <div>
         <table>
            {% for article, link, enum, amount in artLink %}
                {% if enum  == 0 %}
                    <tr>
                {% endif %}
            <td>
            <button class="btn" style="height: 90px; width: 90px; background-color: silver">
                <img height="80%" width="80%" src="{% static link %}">
                <span class="badge bg-danger">{{ amount }}</span>
            </button>
            </td>
                {% if enum == 1 %}
                    </tr>
                {% endif %}
            {% endfor %}
         </table>
        </div>
        <br>
            <div class=" d-flex mt-2">
                <button class="btn1" style="background-color: #36a31b; color: white">Edit Profile</button>
            </div> <div class="text mt-3">

        </div>
{#            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">#}
{#                <span><i class="fa fa-twitter"></i></span>#}
{#                <span><i class="fa fa-facebook-f"></i></span>#}
{#                <span><i class="fa fa-instagram"></i></span>#}
{#                <span><i class="fa fa-linkedin"></i></span>#}
{#            </div> <div class=" px-2 rounded mt-4 date ">#}

            <span class="join">Joined on {{ day_joined }}.{{ month_joined }}.{{ year_joined }}.</span>

        </div>
        </div>
    </div>
</div>
{% endblock %}