* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
  white-space: nowrap;
  margin: 0;
  padding: 0;
  display: flex;
}

.top {
  margin-right: 0;
  padding: 0;
  display: inline-block;
  width: 90%;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #4D6306;
  font-family: Candara;
  font-weight: bold;
}

.lowernavbar {
  overflow: hidden;
  background-color: #82A021;
  font-family: Candara;
  font-weight: bold;
  white-space: nowrap;
  display: flex;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 24px 26px;
  text-decoration:
    none;
}

.lowernavbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 24px 26px;
  text-decoration:
    none;
}

/* The dropdown 
  container */
.dropdown {
  float: left;
  overflow: hidden;
}

.logo {
  flex: 1;
  position: relative;
  top: 0px;
  right: 0px;
  display: inline-block;
  width: 10%;
  height: 134px;
  background-color: #E9EBE0;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 24px 26px;
  background-color: inherit;
  font-family:
    inherit;
  font-weight: inherit;
  /* Important for vertical align on mobile phones */
  margin:
    0;
  /* Important for vertical align on mobile phones */
}

/* Add a 
  red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: white;
  color: #4D6306;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display:
    none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #5C7609;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links 
  on hover */
.dropdown-content a:hover {
  background-color: #4D6306;
  color: white;
}

/* 
  Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

input,
button {
  color: #151811;
  font-family: Candara;
  font-weight: bold;
  background-color: transparent;
  border:none;
}

#cover {

  width: 20%;
  margin: 11px;
  padding: 10px;
  background-color: #e2e9d9;
  border-radius: 20px;
  box-shadow: 0 10px 40px #354716;
}

form {
  height: 25px;
}

input[type="text"] {
  width: 100%;
  height: 100%;
  font-size: 20px;
}

input[type="text"]::placeholder {
  color: #151811;
  font-family:Candara;
  font-weight: bold;
}

.backgnd {
  background: #BCC4A2;
  width: 100%;
  height: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.outerbox {
  width: 70%;
  height: 100%;
  margin: 10px;
  margin-bottom: 100px;
  padding: 5px;
  background: #BCC4A2;
  color: white;
  border-radius: 50px;
  border-width: 6px;
  border-color:#4D6306;
  border-style:solid;
}

.wholetable {
  width:100%;
  height: 100%;
  background-image: url("stadium.jpg");
  background-position: center;
}

.wholetable td {
  width: 33%;
}

.headline {
  font-family: Candara;
  font-weight: bold;
  font-size: 20pt;
  margin-top:20px;
  text-align: center;
  color:#E9EBE0;
  text-shadow: 2px 2px 4px #000000;
}

.tablefield {
  width:100%;
  height:100%;

  position: relative;
}

.innertable {

  border-spacing: 2px;

  font-family:Candara;
  font-size:16px;
  font-weight: bold;
  position: absolute;
  width:80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top:20px;
  margin-bottom:10px;

  color:#E9EBE0;
  text-shadow: 2px 2px 4px #000000;
}

.innertable td {
  border:0;
  border-spacing:2px;
  font-family:Candara;
  font-size:16px;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left:6px;
  padding-right:6px;
}

.innertable tr:nth-child(even) 
{
 background:#7e8a57; 
}

.innertable tr:nth-child(odd)
{
 background:#5C7609;  
}
