a{
    color: red;
}

body {
    background-image: url("../images/ballbg.jpg") !important;
    background-size: 100% !important;
}

.playertable {
    background: rgba(180, 180, 154, 0.267);
    backdrop-filter: blur(15px);
    width: 60%;
    margin-left: 20%;
    color: honeydew;
    text-align: center;
    padding-top: 20px;
}

.back {
    background: rgba(180, 180, 154, 0.267);
    backdrop-filter: blur(15px);
    color: honeydew !important;
}
