/**
Uros Beric
css za manager.html
 */

#player {
    margin-left: 50px;
    margin-top: 10px;
}
#player_team {
    margin-left: 50px;
    margin-top: 10px;
}
#player_search {
    margin-left: 180px;
    margin-top: 10px;
}

#position_name {
    margin-left: 10px;
    margin-top: 10px;
}

table td {
    padding: 10px;
}

.poruka_neuspeh {
    font-size: 20px;
    color: red;
}

#registruj {
    margin-bottom: 20px;
    margin-top: 20px;
}

#obavestenje {
    color: red;
    font-size: 16px;
    text-align: center;
}

#player_form {
    padding-left: 150px;
}