#player {
    margin-left: 50px;
    margin-top: 10px;
}
#player_league {
    margin-left: 50px;
    margin-top: 10px;
}
#player_search {
    margin-left: 50px;
    margin-top: 10px;
}

#position_name {
    margin-left: 10px;
    margin-top: 10px;
}

table td {
    padding: 10px;
}