#player {
    margin-left: 50px;
    margin-top: 10px;
}
#player_team {
    margin-left: 50px;
    margin-top: 10px;
}
#player_search {
    margin-left: 50px;
    margin-top: 10px;
}

#position_name {
    margin-left: 10px;
    margin-top: 10px;
}

table td {
    padding: 10px;
}

.poruka_neuspeh {
    font-size: 20px;
    color: red;
}

#registruj {
    margin-bottom: 20px;
    margin-top: 20px;
}