/* Ivan Cvetic, 2019/0183 */

body {
    background: url("../images/stadium.jpg");
    background-size: 100%;

}

.resultbox {
    margin-right: 10px;
    margin-left: 10px;
}

.gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;


/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #dab521, #b8c91c, #108f1d, #05b01d);


/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #7cff6b, #0a8270);
}
