/* Ivan Cvetic, 2019/0183 */

body {
    background-image: url("../images/ballbg.jpg") !important;
    background-size: 100%;
}

#stats {
    background: rgba(180, 180, 154, 0.267);
    backdrop-filter: blur(15px);
    padding-top: 30px;
}

.searchfields {
    background: rgba(180, 180, 154, 0.267);
    backdrop-filter: blur(15px);
    padding-top: 20px;
    padding-bottom: 20px;
    color: honeydew;
}

.searchcontent {
    background: rgba(180, 180, 154, 0.267);
    backdrop-filter: blur(15px);
    width: 60%;
    margin-left: 20%;
    color: honeydew;
    margin-bottom: 20px;
    padding-top: 20px;
}

.col-sm-2 {
    background-size: 0 !important;
}

table {
    background: rgba(180, 180, 154, 0.267);
    backdrop-filter: blur(15px);
    color: honeydew !important;
}

.nav-item > .active {
    background-color: seagreen !important;
}


