/* Ivan Cvetic, 2019/0183 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    background-image: url("../images/ballbg.jpg") !important;
    background-size: 100% !important;
}

.searchfields {
    background: rgba(180, 180, 154, 0.267);
    backdrop-filter: blur(15px);
    width: 60%;
    padding-top: 20px;
    color: honeydew;
}

.searchcontent {
    background: rgba(180, 180, 154, 0.267);
    backdrop-filter: blur(15px);
    width: 60%;
    margin-left: 20%;
    color: honeydew;
    margin-bottom: 20px;
    padding-top: 20px;
}

.col-sm-2 {
    background-size: 0 !important;
}


